<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-4 g-3">
        <div class="col" *ngFor='let coin of coinsResponse'>
            <div class="card shadow-sm bg-light bg-gradient">

                <div class="card-body">
                    <img src="{{coin.image}}" class="d-inline img-thumbnail me-2 mb-2" width="50" height="50" />
                    <h2 class="d-inline card-title">{{coin.name}}</h2>
                    <p class="card-text"><b>Current Price:</b> {{coin.current_price | currency}}</p>
                    <p class="card-text"><b>Market Cap:</b> {{coin.market_cap | currency}}</p>
                    <p class="card-text"><b>All Time High:</b> {{coin.ath | currency}}</p>
                    <p class="card-text"><b>Circulating Supply:</b> {{coin.circulating_supply| number: '1.0-0'}}</p>
                </div>
            </div>
        </div>
    </div>
</div>