<footer class="py-3 bg-dark">
    <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item">
            <a class="nav-link px-2 text-muted" routerLink="/home">Home</a>
        </li>
        <li lass="nav-item">
            <a class="nav-link px-2 text-muted" routerLink="/exchanges">Exchanges</a>
        </li>
        <li lass="nav-item">
            <a class="nav-link px-2 text-muted" routerLink="/coins">Coins</a>
        </li>
    </ul>
    <p class="text-center text-muted">&copy; 2022 SW, Inc</p>
</footer>