<div class="container my-4">
    <div class="row row-cols-1 row-cols-md-4 g-3">
        <div class="col" *ngFor='let exchange of exchangesResponse'>
            <div class="card shadow-sm bg-light bg-gradient">
                <div class="card-body">
                    <a href="{{exchange.url}}" target="_blank">
                        <img src="{{exchange.image}}" class="d-inline img-thumbnail me-2 mb-2" width="50" height="50" />
                    </a>
                    <h3 class="d-inline card-title">{{exchange.name}}</h3>
                    <p class="card-text"><b>Trust Score:</b> {{exchange.trust_score}}</p>
                    <p class="card-text"><b>Year Established:</b> {{exchange.year_established}}</p>
                    <p class="card-text"><b>Country:</b> {{exchange.country || "Unknown"}}</p>
                </div>
            </div>
        </div>
    </div>
</div>