<div *ngIf="coin">
    <div class="card p-3 bg-light">
        <div class="me-auto">
            <button type="button" class="btn btn-secondary" (click)="goBack()">Back</button>
        </div>
        <div class="text-center">
            <img src="{{coin.image}}" class="img-thumbnail border-0" width="200" height="200" />
            <h1 class="card-title mt-1">{{coin.name}} Details</h1>
            <h4>Current Price: {{coin.market_data_price | currency}}</h4>
        </div>
        <div class="card-body">
            <div class="container">
                <div class="row justify-content-center">
                    <p class="text-wrap col-12" style=" text-indent: 2em; width: 65em;" [innerHTML]="coinDescription">
                    </p>
                    <p class="col-md-3 text-center"><b>Developer Score:</b> {{coin.developer_score}}</p>
                    <p class="col-md-3 text-center"><b>Community Score:</b> {{coin.community_score}}</p>
                    <p class="col-md-3 text-center"><b>Genesis Block:</b> {{coin.genesis_date | date:'longDate' ||
                        "N/A"}}</p>
                    <p class="col-md-3 text-center"><b>Hash Algorithm:</b> {{coin.hashing_algorithm}}</p>
                </div>
            </div>
        </div>
    </div>
</div>