.bg-img {
    min-height: 100vh;
    width: 100%;
    background-image: url("../../assets/bitcoin-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}