<div class="bg-img"></div>
<!-- https://www.forbes.com/advisor/investing/cryptocurrency/what-is-cryptocurrency/ -->

<div class="row justify-content-center bg-dark">
    <div class="card my-3" style="width: 60em;">
        <h1 class="card-header">How Does Cryptocurrency Work?</h1>
        <div class="card-body">
            <p class="card-text">
                Cryptocurrency is decentralized digital money that’s based on blockchain technology.
                You may be familiar with the most popular versions, Bitcoin and Ethereum,
                but there are more than 19,000 different cryptocurrencies in circulation.
                A cryptocurrency is a digital, encrypted, and decentralized medium of exchange.
                Unlike the U.S. Dollar or the Euro, there is no central authority that manages and maintains the value
                of a cryptocurrency.
                Instead,these tasks are broadly distributed among a cryptocurrency’s users via the internet.
            </p>
            <p class="card-text">
                You can use crypto to buy regular goods and services,
                although most people invest in cryptocurrencies as they would
                in other assets, like stocks or precious metals.
                While cryptocurrency is a novel and exciting asset class,
                purchasing it can be risky as you must take on a fair
                amount of research to understand how each system works fully.
                Bitcoin was the first cryptocurrency, first outlined in principle by Satoshi Nakamoto in a 2008 paper
                titled
                “Bitcoin: A Peer-to-Peer Electronic Cash System.”
                Nakamoto described the project as “an electronic payment system
                based on cryptographic proof instead of trust.”
                That cryptographic proof comes in the form of transactions that are verified and recorded on a
                blockchain.
            </p>
        </div>
    </div>

    <div class="card mb-3" style="width: 60em;">
        <h1 class="card-header">What Is a Blockchain?</h1>
        <div class="card-body">
            <p class="card-text">
                A blockchain is an open, distributed ledger that records transactions in code.
                In practice, it’s a little like a
                checkbook that’s distributed across countless computers around the world.
                Transactions are recorded in “blocks” that
                are then linked together on a “chain” of previous cryptocurrency transactions.
                “Imagine a book where you write down everything you spend money on each day,”
                says Buchi Okoro, CEO and co-founder
                of African cryptocurrency exchange Quidax. “Each page is similar to a block, and the entire book, a
                group of pages, is a blockchain.”
            </p>
            <p class="card-text">
                With a blockchain, everyone who uses a cryptocurrency has their own copy of this book to create a
                unified
                transaction record.  Each new transaction as it happens is logged, and every copy of the blockchain is
                updated
                simultaneously with the new information, keeping all records identical and accurate.
                To prevent fraud, each transaction is checked using a validation technique, such as proof of work or
                proof of stake.
            </p>
        </div>
    </div>

    <div class="card mb-3" style="width: 60em;">
        <h1 class="card-header">Proof of Work vs. Proof of Stake</h1>
        <div class="card-body">
            <p class="card-text">
                Proof of work and proof of stake are the two most widely used consensus mechanisms to verify
                transactions before
                adding them to a blockchain. Verifiers are then rewarded with cryptocurrency for their efforts.
            </p>

            <h3 class="card-title fw-bold">Proof of Work:</h3>
            <p class="card-text">
                “Proof of work is a method of verifying transactions on a blockchain in which an algorithm provides a
                mathematical
                problem that computers race to solve,” says Simon Oxenham, social media manager at Xcoins.com.
                Each participating computer, often referred to as a “miner,” solves a mathematical puzzle that helps
                verify a group of transactions—referred to as a block—then adds them to the blockchain ledger.

            </p>
            <p class="card-text">
                The first computer to do so
                successfully is rewarded with a small amount of cryptocurrency for its efforts. Bitcoin, for example,
                rewards a miner 6.25 BTC (which is roughly $200,000) for validating a new block.
                The race to solve blockchain puzzles can require intense computer power and electricity.
                That means the miners might
                barely break even with the crypto they receive for validating transactions after considering the costs
                of power and computing resources.
            </p>
            <h3 class="card-title fw-bold">Proof of Stake:</h3>
            <p class="card-text">
                Some cryptocurrencies use a proof of stake verification method to reduce the amount of power necessary
                to
                check transactions. With proof of stake, the number of transactions each person can verify is limited by
                the amount of
                cryptocurrency they’re willing to “stake,” or temporarily lock up in a communal safe for the chance to
                participate in the process.
                “It’s almost like bank collateral,” says Okoro. Each person who stakes crypto is eligible to verify
                transactions, but the odds you’ll be chosen typically increase with the amount you front.
            </p>
            <p class="card-text">
                “Because proof of stake removes energy-intensive equation solving,
                it’s much more efficient than proof of work,
                allowing for faster verification/confirmation times for transactions,”
                says Anton Altement, CEO of Osom Finance.
                In comparison, for example, the average transaction speed for Bitcoin is at least 10 minutes. Now
                compare that with Solana, a crypto platform that uses the proof-of-stake mechanism,
                which averages around 3,000 transactions per
                second (TPS), making it much faster than the sluggish Bitcoin blockchain.
                Also on the horizon is Bitcoin’s biggest rival, Ethereum, is switching fully to a proof-of-stake
                mechanism. Ethereum estimates its energy usage will decrease by 99.95% once it closes
                “the final chapter of proof of work on Ethereum.”
            </p>

            <h3 class="card-title fw-bold">The Role of Consensus in Crypto:</h3>
            <p class="card-text">
                Both proof of stake and proof of work rely on consensus mechanisms to verify transactions.
                This means while each
                uses individual users to verify transactions, each verified transaction must be checked and approved by
                the majority of ledger holders.
            </p>
        </div>
    </div>
</div>